#![enable(implicit_some)]
Container(
    transform: (
        id:             "ingame",
        x:              0.0,
        y:              0.0,
        z:              5.0,
        width:          1.0,
        height:         1.0,
        anchor:         Middle,
        mouse_reactive: false,
        percent:        true,
        opaque:         false,
    ),

    children: [
        Container(
            transform: (
                id:             "ingame_score_container",
                x:              0.0,
                y:              -0.02,
                z:              0.0,
                width:          0.95,
                height:         0.5,
                anchor:         TopMiddle,
                pivot:          TopMiddle,
                mouse_reactive: false,
                percent:        true,
                opaque:         false,
            ),
            children: [
                Label(
                    transform: (
                        id:             "score",
                        x:              0.0,
                        y:              0.0,
                        z:              0.0,
                        width:          128.0,
                        height:         128.0,
                        anchor:         TopLeft,
                        pivot:          TopLeft,
                        mouse_reactive: false,
                        percent:        false,
                        opaque:         false,
                    ),
                    text: (
                        text:      "SCORE\n0",
                        font_size: 32.0,
                        color:     (0.9, 0.9, 0.9, 1.0),
                        font:      File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                        align:     Middle,
                        line_mode: Wrap,
                    ),
                ),

                Label(
                    transform: (
                        id:             "health",
                        x:              0.0,
                        y:              0.0,
                        z:              0.0,
                        width:          128.0,
                        height:         128.0,
                        anchor:         TopMiddle,
                        pivot:          TopMiddle,
                        mouse_reactive: false,
                        percent:        false,
                        opaque:         false,
                    ),
                    text: (
                        text:      "HEALTH",
                        font_size: 32.0,
                        color:     (0.9, 0.9, 0.9, 1.0),
                        font:      File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                        align:     Middle,
                        line_mode: Wrap,
                    ),
                ),

                Label(
                    transform: (
                        id:             "highscore",
                        x:              0.0,
                        y:              0.0,
                        z:              0.0,
                        width:          128.0,
                        height:         128.0,
                        anchor:         TopRight,
                        pivot:          TopRight,
                        mouse_reactive: false,
                        percent:        false,
                        opaque:         false,
                    ),
                    text: (
                        text:      "",
                        font_size: 32.0,
                        color:     (0.9, 0.9, 0.9, 1.0),
                        font:      File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                        align:     Middle,
                        line_mode: Wrap,
                    ),
                ),
            ],
        ),

        Label(
            transform: (
                id:             "skip_zone_text",
                x:              -32.0,
                y:              16.0,
                z:              0.0,
                width:          256.0,
                height:         128.0,
                anchor:         BottomRight,
                pivot:          BottomRight,
                mouse_reactive: false,
                percent:        false,
                opaque:         false,
                hidden:         true,
            ),
            text: (
                text:      "Press SPACE to skip zone",
                font_size: 16.0,
                color:     (0.9, 0.9, 0.9, 1.0),
                font:      File("resources/fonts/undefined-medium.ttf", ("TTF", ())),
                align:     BottomRight,
                line_mode: Wrap,
            ),
        ),
    ],
)
