#![enable(implicit_some)]
(
    volume: 0.2,

    bgm: {
        MainMenu: (
            file: "title.wav",
        ),
        Well: (
            file: "well.wav",
        ),
        Green: (
            file: "green.wav",
        ),
        Red: (
            file: "red.wav",
        ),
        Space: (
            file: "space.wav",
        ),
        Psychedelic: (
            file: "psychedelic.wav",
        ),
    },

    sfx: {
        Coin: (
            file: "coin2.wav",
        ),
        LaneSwitch: (
            file: "dash.wav",
        ),
        GameOver: (
            file: "death.wav",
        ),
        Shoot: (
            file: "shoot.wav",
        ),
        Hurt: (
            file: "hurt.wav",
        ),
    },
)
