// src/settings/player_settings.rs

#![enable(implicit_some)]
(
    z: 4.0,

    components: [
        Health((
            health: 3,
            max_health: 3,
        )),
        Size((
            w: 32.0,
            h: 32.0,
        )),
        Animations({
            Idle: Cycle([
                (5, 100),
                (6, 100),
            ]),
            LaneSwitch: Once([
                (0, 30),
                (1, 30),
                (2, 30),
                (3, 30),
                (4, 30),
            ]),
            GameOver: Once([
                // FLASHING
                (11, 100),
                (10, 100),
                (11, 100),
                (10, 100),
                (11, 100),
                (10, 100),
                (11, 100),

                // CURL-UP
                (14, 100),
                (15, 100),
                (16, 100),
                (17, 100),
                (18, 500),

                // EMPTY
                (19, 1000),
            ]),
            Invincible: Cycle([
                // FLASHING
                (11, 100),
                (10, 100),
                (11, 100),
                (10, 100),
                (11, 100),
                (10, 100),
                (11, 100),
            ]),
        }),
        Hitbox(Custom([
            (
                top:    -4.0,
                bottom: -14.0,
                left:   -6.0,
                right:  6.0,
            )
        ])),
        Collider(Player),
        Collidable(Player),
        Solid(Player),
        OnLane((
            switch_speed: 300.0,
        )),
    ],
)
